<div>
    <h2 translate="blogApp.entryManagement.home.title">Entries</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="entry-management.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="blogApp.entryManagement.home.createLabel">
                        Create new Entry
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'blogApp.entryManagement.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
        <div ng-repeat="entry in entries track by entry.id">
            <h2>{{entry.title}}</h2>
            <small>Posted on {{entry.date | date: 'short'}} by {{entry.blog.user.login}}</small>
            <div ng-bind-html="entry.content"></div>
            <div class="btn-group" style="margin-top: 10px">
                <button type="submit"
                        ui-sref="entry-management.edit({id:entry.id})"
                        class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                    translate="entity.action.edit"> Edit</span>
                </button>
                <button type="submit"
                        ui-sref="entry-management.delete({id:entry.id})"
                        class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
